@import "../mixins/colors";

#hero {
    background-color: $bg-color;
    p {
        color: white;
    }
    .btn:nth-child(1) {
        padding: 10px;
        background-color: blue;
    }
    .btn:nth-child(2) {
        padding: 10px;
        background-color: orange;
    }
    .btn:nth-child(3) {
        padding: 10px;
        background-color: green;
    }
}