html,
body {
  font-family: "Inter", sans-serif !important;
  background-color: whitesmoke;
  min-width: 480px;
}

.hero1 {
  background-color: #754ffe;
  color: white;
}

.hero2 {
  background-color: white;
}

.bi-star-fill,
.biStarText {
  color: orange;
}

p.biStarText,
p.biStarText2 {
  margin: 0;
}

.cardImg {
  width: 30px;
  border-radius: 50%;
}

.cardAuthor {
  margin: 0;
  align-self: center;
  font-size: small;
}
