@use "partials/header";
@use "partials/hero";
@use "mixins/colors";

#heroImg {
    position: relative;
    top: 75px;
    opacity: 0;
    transition-property: transform;
    transition-property: opacity;
    animation-name: imgAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes imgAnim {
    from {
    transform: translate(0px, 175px);
    opacity: 0;
}
to {
    transform: translate(0px, 0px);
    opacity: 1;
}
}

#hero .btn {
    position: relative;
    transition-property: transform;
    transition-property: opacity;
    animation-name: btnAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes btnAnim {
    from {
    transform: translate(0px, 75px);
    opacity: 0;
}
to {
    transform: translate(0px, 0px);
    opacity: 1;
}
}

#par {
    position: relative;
    transition-property: transform;
    transition-property: opacity;
    animation-name: heroTextAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 2;
}

#title {
    position: relative;
    transition-property: transform;
    transition-property: opacity;
    animation-name: heroTextAnim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: 3;
    background-color: colors.$bg-color;
}

@keyframes heroTextAnim {
    from {
    transform: translate(0px, -75px);
    opacity: 0;
}
to {
    transform: translate(0px, 0px);
    opacity: 1;
}
}
