/* CSS Reset */
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}
    */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
}

h4,
p {
  margin: 0;
}

#mainBoxDiv {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #666666;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 40px;
}

#postIt1,
#postIt2,
#postIt3,
#postIt4,
#postIt5,
#postIt6,
#postIt7,
#postIt8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(
    0deg,
    rgb(29, 29, 29) 0%,
    rgba(255, 216, 7, 1) 66%
  );
  box-shadow: 6px 8px 6px 6px rgba(0, 0, 0, 0.279);
  transition: transform 0.3s ease;
}

#postIt2,
#postIt4,
#postIt8 {
  background-image: linear-gradient(
    0deg,
    rgb(29, 29, 29) 0%,
    rgb(118, 255, 182) 66%
  );
}

#postIt3,
#postIt6 {
  background-image: linear-gradient(
    0deg,
    rgb(29, 29, 29) 0%,
    rgb(255, 162, 250) 66%
  );
}

#postIt1 {
  transform: rotate(-10deg);
}
#postIt2 {
  transform: rotate(10deg);
}
#postIt3 {
  transform: rotate(-10deg);
}
#postIt4 {
  transform: rotate(10deg);
}
#postIt5 {
  transform: rotate(-10deg);
}
#postIt6 {
  transform: rotate(-10deg);
}
#postIt7 {
  transform: rotate(-6deg);
}
#postIt8 {
  transform: rotate(6deg);
}
#postIt1:hover,
#postIt2:hover,
#postIt3:hover,
#postIt4:hover,
#postIt5:hover,
#postIt6:hover,
#postIt7:hover,
#postIt8:hover {
  transform: scale(1.2, 1.2) rotate(0deg);
}

#frase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testoAlternato {
  font-family: "Bree Serif", serif;
  position: relative;
  width: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 1rem;
}

.parole {
  padding-left: 6px;
}

.parole i {
  opacity: 0%;
  position: absolute;
  animation: changeWord 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes changeWord {
  from {
    opacity: 40%;
    bottom: 0px;
  }

  20% {
    opacity: 100%;
    bottom: 1rem;
  }

  30% {
    opacity: 100%;
    bottom: 1rem;
  }

  40% {
    opacity: 0%;
  }
  to {
    bottom: -70px;
  }
}

#i2 {
  animation-delay: 2s;
}
#i3 {
  animation-delay: 4s;
}
